.content-sidebar{
    width: 100%;
    height: 100%;
}
.content-sidebar>#head{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:.7vw;
    height: 3vw;
}
.content-sidebar>#head>span{
    cursor: pointer;
    font-size: 1.2vw;
    text-align: center;
    padding: .4vw;
   transform: rotate(180deg);    
}
.content-sidebar>#head>span:hover{
    background-color: #ffffff30;
    border-radius: 50%;

}
.content-sidebar>#head>.drop-down-root{
    width: 35%;
    position: relative;
}
.content-sidebar>#head>.drop-down-root:hover{
    color: #fff;
    border-radius: 5px;
}
.content-sidebar>#head>.drop-down-root>.sidebar-dropdown{
    width: 100% !important;
    border: none;
}
.content-sidebar>#head>.drop-down-root>#option{
    color :#aeb6b9;
    background-color: #1A222B;
    width: 100%;
}
.content-sidebar>#head>.drop-down-root>#option>.clicked{
     background-color: #3e3e4657 !important;
     color: #fff;
}
.content-sidebar>#head>.drop-down-root>#option>span:hover{
    background-color: #3e3e4657;
    color: #fff;

}
.content-sidebar>#head>#drop-down>#drop-down-head{
    display: flex;
    align-items: center;
    position: relative;
    height: 1.5vw;
    cursor: pointer;
    padding-left: .5vw;
}
.content-sidebar>#head>#drop-down>#drop-down-head>.material-symbols-outlined{
    position:absolute;
    right: 0;
}

.content-sidebar>#head>#drop-down>#option>span{
height: 1.5vw;
display: flex;
align-items: center;
cursor: pointer;

}
.content-sidebar>#head>#drop-down>#option>span:hover{
    background-color: #34414f;
}
.content-sidebar>#body{
    overflow: scroll;
    scrollbar-width: none;
    height: calc(100% - 2vw);
    padding-bottom: 1vw;
    width: 100%;
}
.content-sidebar>#body>#day-container{
    height: 9vw;
    width: 100%;
    padding: 1vw;
    cursor: pointer;
    background-color: #1A222B;
    transition: .1s ease-in-out;

}
.content-sidebar>#body>.active{
    background-color: #606060de !important;
    padding-left: 0.6vw !important;
    transition: .1s ease-in-out;
}
.content-sidebar>#body>.active:hover{
   padding-top: 1vw !important; 
}
.content-sidebar>#body>#day-container:hover{
    background-color: #3e3e46de;
    padding-left: 0.8vw;
    padding-top: 1.2vw;
    transition: .1s ease-in-out;
}
.content-sidebar>#body>#day-container>#content{
    width: 12vw;
    height: 7vw;
    display: flex;
    border: 1px solid #8484847d;
    border-radius: 5px;
}
.content-sidebar>#body>#day-container>#content>#first{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #9f9f9f57;
    border-radius: 5px 0px 0px 5px;
}
.content-sidebar>#body>#day-container>#content>#second{
    background-color:#ffffff9c;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    border-radius: 0px 5px 5px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    position: relative;
}
.content-sidebar>#body>#day-container>#content>#second>.hide{
    display: none;
}
.content-sidebar>#body>#day-container>#content>#second>#favourite{
    position: absolute;
    z-index: 1;
    padding:0.35vw .3vw 0.1vw 0.3vw;
    border-radius: 50%;
    bottom: 1%;
    right: 0%;
}
.content-sidebar>#body>#day-container>#content>#second>.fa-heart-o {
    color: #666 !important;
}
.content-sidebar>#body>#day-container>#content>#second>.fa-heart {
    color: rgb(209 84 84) !important;
}

.content-sidebar>#body>#day-container>#content>#second>.default_class{
    font-size: .8vw;
    transition: .02s ease-in-out;
}
.content-sidebar>#body>#day-container>#content>#second>span{
    position: absolute;
}
.content-sidebar>#body>#day-container>#content>#second>#editor{
    width: 100%;
    height: 100%;
}

.content-sidebar>#body>#day-container>#content>#second>.hide{
    visibility: hidden;
}