.editor-root {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: .75vw !important;
    color: #666 !important;
}

.editor-root>#editor-tool {
    width: 60%;
    display: flex;
    justify-content: space-between;
    height: 2vw;
}

.editor-root>#editor-tool>.button {
    padding: .4vw;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    height: 2vw;
    border:1px solid #c9c9c96e;
    color: #666;
}

.editor-root>#editor-tool>.button>span {
    font-size: 1.2vw;
    color: #818080;
}
.editor-root>#editor-tool>.button>.marked{
    background-color: #b0a664;
}

.editor-root>#editor-tool>.clicked {
    border: 1px solid #c9c9c9;
    box-shadow: rgba(88, 92, 94, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.editor-root>#editor-tool>.file{
    display: flex;
    align-items: center;
    width: 5vw;
    justify-content: space-evenly;
    border: 1px solid #c9c9c96e;;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.editor-root>#editor-tool>.extra_width{
    width: 6vw !important;
}
.editor-root>#editor-tool>.extra_width>.material-symbols-outlined{
    font-size: 1vw;
    color: #666;
}
.editor-root>#editor-tool>.file>label{
    font-size: .8vw;
    cursor: pointer;
}
.editor-root>#editor-tool>.file>#imag{
    display: none;
}
.editor-root>#editor-tool>.file>#Color{
    width: 1vw;
    height: 1.2vw;
    outline: none;
    border: none;
}
.editor-root>#editor-tool>.small-drop-down{
     width:2.7vw !important;
     border: 1px solid #c9c9c9;
   
     border-radius: 5px;
     position: relative;
     display: flex;
    align-items: center;
    height: 2vw;
} 
.editor-root>#texture-field {
    height: calc(100% - 4vw);
    width: 90%;
    border-radius: 5px;
    background-image: url(texture31.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.editor-root>#texture-field>#word-pad{
background-color: #e8bebeab;
height: 100%;
width: 100%;
outline: none;
border-radius: 5px;
overflow: auto;
font-size: 15px;
font-family: sans-serif;
color: #666;
position: relative;
}
.editor-root>#texture-field>.image_container{
    position: absolute;
    height: 100%;
    width: 7%;
    border: 1px solid 1px solid rgb(154 154 154 / 43%);
    top: 0;
    left: 93%;
    padding: 1vw;overflow: auto;
    overflow-x: hidden;
    background-color: #ffffff30;
}
.editor-root>#texture-field>.image_container>.image-content{
      width: 100%;
      height: 7vh;
}
.editor-root>#texture-field>.perfect-width{
    width: 20%;
    left: 80%;
}
.editor-root>#texture-field>.perfect-width>.image-content{
    height: 25vh;
}
.empty{
    visibility: hidden;
}
.line-content{
    width: 100%;
    padding: 1vw;
}
.max{
    width: max-content;
}